<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
     <title>{{ title }}</title>
    {% else %}
     <title>MessageBoard</title>
    {% endif %}

    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block style %}
    {% endblock %}
</head>
<body>
    <header id="nav">
        <div class="nav-link-wrap">
            <ul class="nav-link-list">
                <li><h2><a href="{{ url_for('index') }}">首页</a></h2></li>
                {% if not current_user.is_anonymous %}
                
                    <li><h2><a href="#">Hello {{ current_user.username }}</a></h2></li>
                {% endif %}
            </ul>

            <ul class="nav-link-list">
                <li><a href="https://github.com/magicFeirl/Python-Flask/tree/master/Flask%E7%95%99%E8%A8%80%E6%9D%BF" style="padding-top: 5px;" target="_blank">Github</a></li>
                <li><a href="{{ url_for('log') }}">日志</a></li>
                <li><a href="{{ url_for('comment') }}">留言</a></li>
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">注销</a></li>
                {% endif %}
            </ul>
        </div>
    </header>

    <div class="content-wrap">
        {% block content %}
        {% endblock %}
    </div>    

    <div id="back-to-top">
        <a href="#">回到顶部</i></a>
    </div>
</body>
</html>