.card {
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(238, 238, 238);
    flex-direction: column;
    border-radius: 5px;
}

.card-info-wrap {
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100%;
    margin-bottom: 5px;
}

.title {
    font-size: 16px;
    font-weight: bolder;
}

.time {
    font-size: 12px;
    color: #ccc;
}

.time:hover {
    cursor: pointer;
    color: #333;
}

.card-content {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    margin-bottom: 5px;
}